Backup
Cache
Index
Data/Backup
Data/Cache
Data/Index
Local
*.cache
Data/Packages/User/Package Control.last-run
Packages/User/Package Control.last-run
Packages/User/Package Control.system-ca-bundle
Microsoft.VC90.CRT.manifest
changelog.txt
crash_reporter.exe
msvcr100.dll
plugin_host.exe
python3.3.zip
python33.dll
subl.exe
sublime.py
sublime_plugin.py
sublime_text.exe
update_installer.exe